@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HostGrotesk';
  src: url('./HostGrotesk-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
